# OS
.DS_Store

# Node
node_modules/
.pnpm-debug.log*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Env
.env*

# VSCode
.vscode/
.history/
